/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-transform: uppercase;
}

.mainLayout {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.head, .textBody {
    margin-bottom: 20px;
}

.imgDiv {
    margin: 200px 40px 40px 40px;
}

.imgPerf {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.textHead p, .textBody p {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
}

.textHead input, .textBody input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.textHead p {
    margin-top: 20px;
}

.textHead input, .textBody input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.textBody textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #ca2626;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}