
    
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.sectionAll {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meuMenu .topText h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


button {
    background-color: #ca2626;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}


.lowText h3 {
    color: #555;
    font-size: 18px;
    margin-top: 20px;
}

.imgUnipar {
    margin: 30px 0;
}

.imgUnipar img {
    width: 200px; /* Define um tamanho fixo para a imagem */
    max-width: 150%;
    height: auto; /* Mantém a proporção da imagem */
}